{% extends 'base.html' %}
{% block title %}obs{% endblock %}
{% block content %}

<h2>{{ obj_class }}
{% if edit  %} [edit]{% endif %}
</h2>

<form action="" method="post">
{% csrf_token %}
<ul class="deets">
  {% include templ_path %}
</ul>

<div class="ops">

  {% if edit %}
    <input type="submit" value="Save"/>
    <a href="{% url 'index' %}">Cancel</a>
  {% else %}
    <a href="{% url 'edit' obj_class obj.id %}">Edit</a>
    <a href="{% url 'index' %}">Back</a>
  {% endif %}

</div>
</form>

{% endblock %}
