{% extends 'base.html' %}
{% block title %}amdb{% endblock %}

{% block content %}
<h1>AMdb</h1>

<div>
View Mode: NA
</div>

<div class="box">
<h3>observations
<a class="add" href="">[+ new]</a><br/>
</h3>
{% if obs_list %}
  <ul class="obj-list">
  {% for obs in obs_list %}
    <li><a href="/observation/{{ obs.id }}/">{{ obs.description }}</a></li>
  {% endfor %}
</ul>
{% else %}
  <p class="note">[No observations yet]</p>
{% endif %}
</div>

<div class="box">
<h3>assertions
<a class="add" href="">[+ new]</a><br/>
</h3>
{% if ass_list %}
  <ul class="obj-list">
  {% for ass in ass_list %}
    <li><a href="/assertion/{{ ass.id }}/">{{ ass.description }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p class="note">[No assertions yet]</p>
{% endif %}
</div>

<div class="box">
<h3>capabilities
<a class="add" href="">[+ new]</a><br/>
</h3>
{% if cap_list %}
  <ul class="obj-list">
  {% for cap in cap_list %}
    <li><a href="/capability/{{ cap.id }}/">{{ cap.description }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p class="note">[No capabilities yet]</p>
{% endif %}
</div>

<div class="ops">
<a href="/">Help</a>
<a href="/">Info</a>
<a href="{% url 'nuke' %}">Nuke All The Things</a>
</div>

<h3>interact</h3>
<form action="{% url 'observation' 0 %}" method="post">
{% csrf_token %}

<input type='radio' name='meow' id='haha' value='meowww' />
<input type='radio' name='meow' id='haha2' value='meowww' />

</form>

{% endblock %}
