{% extends 'base.html' %}
{% block title %}amdb{% endblock %}

{% block content %}
<h1>AMdb</h1>

<span>
View Mode: NA
</span>

<h3>observations</h3>
<a href="">[+]add</a><br/>
{% if obs_list %}
  <ul class="obj-list">
  {% for obs in obs_list %}
    <li><a href="/observation/{{ obs.id }}/">{{ obs.description }}</a></li>
  {% endfor %}
</ul>
{% else %}
  <p class="note">No Observations.</p>
{% endif %}

<h3>assertions</h3>
{% if ass_list %}
  <ul class="obj-list">
  {% for ass in ass_list %}
    <li><a href="/assertion/{{ ass.id }}/">{{ ass.description }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p class="note">No Assertions.</p>
{% endif %}

<h3>capabilities</h3>
{% if cap_list %}
  <ul class="obj-list">
  {% for cap in cap_list %}
    <li><a href="/capability/{{ cap.id }}/">{{ cap.description }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p class="note">No Capabilities.</p>
{% endif %}




<h3>interact</h3>
<form action="{% url 'observation' 0 %}" method="post">
{% csrf_token %}

<input type='radio' name='meow' id='haha' value='meowww' />
<input type='radio' name='meow' id='haha2' value='meowww' />

</form>

{% endblock %}
