{% extends 'base.html' %}
{% block title %}amdb{% endblock %}

{% block content %}
<h1>AMdb</h1>

<div class="view-mode">
View Mode: {{ view_mode }}
</div>

{% for list in obj_lists %}

<div class="box">
<h3>{{ list.cls_plural }}
<a class="add" href="{% url 'new' list.cls %}">[+ new]</a><br/>
</h3>
{% if list %}
  <ul class="obj-list">
  {% for obj in list %}
    <li><a href="/{{ list.cls }}/{{ obj.id }}/">{{ obj }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p class="note">[No {{ list.cls_plural }} yet]</p>
{% endif %}
</div>

{% endfor %}

<div class="ops">
<a href="/">Help</a>
<a href="/">Info</a>
<a href="{% url 'nuke' %}">Nuke All The Things</a>
</div>

{% endblock %}
