body {
  font-family: Eurostile, Verdana, Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
  padding-top: 11px;
}

a {
  text-decoration: none;
  color: #33a;
}
a:hover { color: #88a; }
ul { margin: 0; }
h1, h2, h3, h4, h5, h6 { 
  font-variant: small-caps;
  padding: 2px;
  margin: 2px;
  cursor: default;
}

.header {
  position: fixed; top: 0; left: 0;
  background-color: #000;
  color: #fff;
  margin: 0;
  display: block;
  width: 100%;
  font-size: 9px;
  padding: 1px 4px 3px;
}
.version-label {
  position: fixed;
  text-align: right;
  right: 4px;
}


.box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #eee;
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  margin: 2px 0 8px; padding: 0;
  min-height: 200px;
  background-color: #f8f8f8;
}
.box h3 {
  background-color: #bbb;
  color: #fff;
  margin: 0;
  padding: 0 8px;
  height: 20px;
  border-bottom: 1px solid #eee;
}
.add {
  position: absolute;
  color: #fff;
  padding: 3px; margin: 0;
  height: 14px;
  right: 0; top: 0;
  display: inline-block;
  font-size: 10px; font-weight: 100;
}
.add:hover {background-color: #fff; color: #000;}

.note {
  color: #888;
  font-size: 10px;
  text-align: center;
  cursor: default;
}
.ops {
  border-top: 1px solid #eee;
  width: 100%;
}
.ops a, .ops input {
  display: inline-block;
  color: #fff;
  padding: 2px 24px;
  margin: 0;
  border: 0;
  font-size: 10px;
  line-height: 16px;
  vertical-align: top;
  background-color: #bbb;
}
.ops a:hover, .ops input:hover {
  color: #000;
  background-color: #eee;
  cursor: pointer;
}
.deets {
  list-style: square;
  border: 1px solid #888;
  padding: 4px 24px;
}

.obj-list {
  list-style: none;
  margin: 0; padding: 1px;
  font-size: 10px;
  background-color: #eee;
}
.obj-list a {
  background-color: #fff;
  display: block;
  padding: 3px 6px;
  margin-bottom: 1px;
  color: #000;
}
.obj-list a:hover {
  background-color: #000;
  color: #fff;
}
.obj-entry {
  border: 1px solid #fff;
  padding: 3px;
}

